@import url(./fonts.css);

/* CUSTOM PROPS */

:root {
    --bg-color: #F2F2F2;
    --orange: #E28625;
    --light-white: #F2F2F2;
    --white: #fff;
    --green: #006971;
    --bold-green: #004140;
    --Lexend_Deca: "Lexend_Deca";
    --Big_Shoulders_Display: "Big_Shoulders_Display";
}

/* CUSTOM PROPS */

/* GLOBAL-STYLES */

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* GLOBAL-STYLES */

/* CARDS */

.cards {
    max-width: 950px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 8px; */
}

.card {
    padding: 48px;
    text-align: left;
}

.card-img {
    width: 64px;
    height: 40px;
    margin-bottom: 35px;
}

.card-title {
    color: var(--light-white);
    font-family: var(--Big_Shoulders_Display);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.card-desc {
    max-width: 212px;
    width: 100%;
    color: var(--white);
    font-family: var(--Lexend_Deca);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 83px;
}

.all-btn {
    max-width: 146px;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 12px;
    background-color: var(--light-white);
    font-family: var(--Lexend_Deca);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    border-radius: 25px;
    background-color: var(--light-white);
    border: 2px solid var(--white);
}

.all-btn:active {
    background-color: transparent;
    border: 2px solid var(--white);
}

.all-btn:hover {
    cursor: pointer;
}

.all-btn:active .btn-link {
    color: var(--white);
}

.btn-link {
    font-family: var(--Lexend_Deca);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

/* CARDS */


/* SEDAN-CARD */

.sedan-card {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: var(--orange);
}

.sedan-link {
    color: var(--orange);
}

/* SEDAN-CARD */

/* SUVS-CARD */

.suvs-card {
    background-color: var(--green);
}

.suvs-link {
    color: var(--green);
}

/* SUVS-CARD */


/* Luxury-card */

/* Luxury-card */
.Luxury-card {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--bold-green);
}

.Luxury-link {
    color: var(--bold-green);
}

/* Luxury-card */